
<div class="row">
    <h2 class="m-0 font-weight-bold text-primary"> Administracion De Perfil </h2>
    <br>
    <br>
  </div>
  
  
  
  
    <div class="row">
  
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" ng-click="vm.tabSeleccion = 'ver' " type="button" >VER / EDITAR  INFORMACION </button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" ng-click="vm.tabSeleccion = 'createOrEdit' " type="button" >....  </button>
        </li>
  
      </ul>
      <br>
  
    </div>
  
    <br>
    <br>
  
    <div class="row">
  
      <div class="slide-animate" ng-if="vm.tabSeleccion=='ver'" style="width: 100%;" ng-include="'componentes/profile/createOrEdit.view.html'"></div>
  
      <div class="slide-animate"  ng-if="vm.tabSeleccion=='createOrEdit'" style="width: 100%;"  ng-include="'componentes/personas/createOrEdit.view.html'"></div>
    </div>
  
  
  
  
  
  <script>
  
  
  </script>